body {
	font-family: 'Open Sans', sans-serif;
	padding: 0;
	margin: 0;
}

div, p, input, button, form, span, a, ul, li {
	box-sizing: border-box;
} 

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

.header {
	background: rgba(78,189,254,1);
	background: -moz-linear-gradient(-45deg, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(78,189,254,1)), color-stop(100%, rgba(55,144,217,1)));
	background: -webkit-linear-gradient(-45deg, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
	background: linear-gradient(135deg, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ebdfe', endColorstr='#3790d9', GradientType=1 );
	padding-top: 65px;
	padding-bottom: 143px;
	color: white;
}

.wrapper {
	display: flex;
	justify-self: space-between;
}

.offer {
	margin-top: 147px;
}

.title {
	font-size: 37px;
	margin-bottom: 47px;
	font-family: 'Ubuntu', sans-serif;
	width: 554px;
}

.title span {
	font-size: 59px;
}

.intro {
	font-size: 16px;
	margin-bottom: 44px;
	width: 398px;
}

.btn {
	font-family: 'Montserrat', sans-serif;
	background: #ffd429;
	color: #000;
	border-spacing: 100px;
	display: block;
	width: 221px;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	font-weight: 900;
	transition: all 0.5s ease;
}

.btn:hover {
	background: #f0c51b;
}

.desktop {
	margin-top: 20px;
}

.learn {
	padding-top: 110px;
	padding-bottom: 125px;
}

.section-title {
	font-size: 30px;
	text-align: center;
}

.skills {
	display: flex;
	justify-content: space-between;
	margin-top: 76px;
}

.skill {
	width: 295px;
	background: url("../img/icon1.jpg") no-repeat top;
	padding-top: 80px;
}

.skill-title {
	font-size: 19px;
}

.skilll-text {
	margin-top: 5px;
	font-size: 19px;
}

.skill-free {
	background: url(../img/icon2.jpg) no-repeat top;
}

.skill-change {
	background: url("../img/icon3.jpg") no-repeat top;
}

.mail {
	background: #ecf3f8;
	padding-top: 106px;
	padding-bottom: 102px;
}

.section-title {
	margin-bottom: 54px;
}

.input {
	justify-content: space-between;
	margin-top: 14px;
	width: 344px;
	border: 1px solid #bbbbbb;
	font-size: 15px;
	font-family: 'Ubuntu', sans-serif;
	height: 47px;
	padding-left: 25px;
	margin-left: 400px;
}

.btn-form {
	margin-top: 14px;
	padding-top: 15px 0px;
	cursor: pointer;
	font-size: 15px;
	border: 0;
	width: 341px;
	margin-left: 400px;
}

.footer {
	padding: 33px 0px;
	background: #164d7a;
}

.credits {
	color: white;
	font-size: 14px;
	margin: 0;
	text-align: center;
}
